 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publication</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="row-lg-4">
                    <p >Furniture Free Mapping using 3D Lidars (IEEE ROBIO 2019) <h8> Best Paper Finalist </h8>  </br>
                        <h8> Zhenpeng He* </h8>, Jiawei Hou and Sören Schwertfeger.</p>
                    <p>Hierarchical Topometric Representation of 3D Robotic Maps (Autonomous Robots)( <h8> undering review </h8>) </br>
                        <h8> Zhenpeng He* </h8>, Hao Sun, Jiawei Hou, Yajun Ha and Sören Schwertfeger.</p>
                    <p>Matching Maps based on the Area Graph (Autonomous Robots)( <h8> undering review </h8>) </br>
                        Jiawei Hou*, Yijun Yuan, <h8> Zhenpeng He </h8> and Sören Schwertfeger.</p>
                    <p>Improved Visual-Inertial Localization for Low-cost Rescue Robots (IFAC 2020)  </br>
                         Xiaoling Long*, Qingwen Xu, Yijun Yuan, <h8> Zhenpeng He </h8>, Sören Schwertfege.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.baidu.com" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
